.first-heading{
    position: absolute;
    width: 858px;
    height: 162px;
    left: 291px;
    top: 186px;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 100%;
    text-align: center;
    color: #000;
}

#content h2{
    position: absolute;
    width: 626px;
    height: 68px;
    left: 407px;
    top: 380px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    text-align: center;
    color: #000;
}

#content .logo img{
    position: absolute;
    width: 1440px;
    height: 900px;
    left: 0px;
    top: 500px;
}

#content .line{
    position: absolute;
    width: 640px;
    height: 0px;
    left: 400px;
    top: 1432px;
    border-bottom: 2px solid #000;
}

#content .logo-read2 img{
    position: absolute;
    width: 57px;
    height: 57px;
    left: 399px;
    right: 984px;
    top: 1456px;
    bottom: 4396px;
    border-radius: 50%;
}

#content h3{
    position: absolute;
    width: 162px;
    height: 19px;
    left: 472px;
    top: 1461px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #000;
    text-transform: uppercase;
}

#content h4{
    position: absolute;
    width: 191px;
    height: 19px;
    left: 472px;
    top: 1488px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
}

.border{
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 44px;
    left: 900px;
    right: 400px;
    top: 1462px;
    bottom: 4403px;
    background: #FFFF;
    border: 1px solid #eaeaea;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.line2{
    position: absolute;
    width: 0px;
    height: 44px;
    left: 970px;
    top: 1462px;
    bottom: 4403px;
    border: 0.5px solid #eaeaea;
}

.vector{
    position: absolute;
    width: 20px;
    height: 19.92px;
    left: 925px;
    right: 495px;
    top: 1474.04px;
    bottom: 4415.04px;
}

.vector1{
    position: absolute;
    width: 19.62px;
    height: 16px;
    left: 995px;
    top: 1476px;
}

#content .p1{
    position: absolute;
    width: 640px;
    height: 238px;
    left: 400px;
    top: 1565px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #000;
}

.second-heading{
    position: absolute;
    width: 288px;
    height: 51px;
    left: 400px;
    top: 1860px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 160%;
    color: #000;
}

#content .p2{
    position: absolute;
    width: 640px;
    height: 228px;
    left: 400px;
    top: 1935px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #000000;
}

.logo-read{
    position: absolute;
    width: 854px;
    height: 570px;
    left: 293px;
    top: 2215px;
}

#content .p3{
    position: absolute;
    width: 481px;
    height: 44px;
    left: 479px;
    top: 2797px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #000000;
}

#content .p4{
    position: absolute;
    width: 640px;
    height: 272px;
    left: 400px;
    top: 2893px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #000000;
}

#content .p5{
    position: absolute;
    width: 640px;
    height: 34px;
    left: 400px;
    top: 3217px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #000000;
}

#content .list{
    position: absolute;
    width: 588px;
    height: 168px;
    left: 424px;
    top: 3270px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
}

#content .list ul li{
    text-decoration: none;
    list-style-type: square;
    color: #000;
}

#content .p6{
    position: absolute;
    width: 640px;
    height: 68px;
    left: 400px;
    top: 3490px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #000000;
}

#content .p7{
    position: absolute;
    width: 640px;
    height: 68px;
    left: 400px;
    top: 3610px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #000000;
}

.border2{
    box-sizing: border-box;
    position: absolute;
    width: 640px;
    height: 64px;
    left: 400px;
    right: 400px;
    top: 3755px;
    bottom: 2090px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.line3{
    position: absolute;
    width: 0px;
    height: 64px;
    left: 720px;
    top: 3755px;
    bottom: 2090px;
    border: 0.5px solid #eaeaea;
}

.vector2{
    position: absolute;
    width: 20px;
    height: 19.92px;
    left: 470px;
    right: 950px;
    top: 3777.04px;
    bottom: 2112.04px;
}

.vector3{
    position: absolute;
    width: 22px;
    height: 18px;
    left: 800px;
    right: 618px;
    top: 3778px;
    bottom: 2113px;
}

#content .p8{
    position: absolute;
    width: 148px;
    height: 26px;
    left: 506px;
    top: 3774px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

#content .p9{
    position: absolute;
    width: 127px;
    height: 26px;
    left: 838px;
    top: 3774px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #000000;
}

#content .p10{
    position: absolute;
    width: 240px;
    height: 19px;
    left: 399px;
    top: 3851px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #0C0C0C;
}

#content .p10 b{
    text-decoration-line: underline;
    font-weight: 500;
}

#content .p10 c{
    text-decoration-line: underline;
}

.line4{
    position: absolute;
    width: 640px;
    height: 0px;
    left: 400px;
    top: 3904px;
    border: 0.5px dashed #000000;
}

#content .logo-read3{
    position: absolute;
    width: 71.25px;
    height: 71.25px;
    left: 398.75px;
    top: 3940px;
}

#content .p11{
    position: absolute;
    width: 543px;
    height: 78px;
    left: 494px;
    top: 3936px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.05em;
    color: #0C0C0C;

}

#content .p11 b{
    font-weight: 400;
}

.line5{
    position: absolute;
    width: 1440px;
    height: 0px;
    left: 0px;
    top: 4146px;
    border: 1px solid #000000;
}

#content .logo-elip1{
    position: absolute;
    width: 44.29px;
    height: 62.86px;
    left: 679px;
    top: 4115.43px;
}

#content .logo-elip2{
    position: absolute;
    width: 44.29px;
    height: 62.86px;
    left: 716.71px;
    top: 4114px;
}

#content .logo-elip3{
    position: absolute;
    width: 17.14px;
    height: 24.29px;
    left: 696px;
    top: 4147px;
}

#content .logo-elip4{
    position: absolute;
    width: 17.14px;
    height: 24.29px;
    left: 733.71px;
    top: 4147px;
}

.third-heading{
    position: absolute;
    width: 376px;
    height: 53px;
    left: 532px;
    top: 4219px;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
    color: #000000;
}

#content .logo-2{
    position: absolute;
    width: 304px;
    height: 176px;
    left: 221px;
    top: 4299px;
}

#content .logo-3{
    position: absolute;
    width: 304px;
    height: 176px;
    left: 553px;
    top: 4299px;
}

#content .logo-1{
    position: absolute;
    width: 304px;
    height: 176px;
    left: 885px;
    top: 4299px;
}

#content .logo-13{
    position: absolute;
    width: 304px;
    height: 176px;
    left: 221px;
    top: 4607px;
}

#content .logo-14{
    position: absolute;
    width: 304px;
    height: 176px;
    left: 553px;
    top: 4607px;
}

#content .logo-12{
    position: absolute;
    width: 304px;
    height: 176px;
    left: 885px;
    top: 4607px;
}

#content .p12 a{
    position: absolute;
    width: 288px;
    height: 78px;
    left: 229px;
    top: 4495px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#content .p12 a:hover{
    font-size: 1.5rem;
    text-decoration-line: underline;
}

#content .p13 a{
    position: absolute;
    width: 262px;
    height: 52px;
    left: 574px;
    top: 4495px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#content .p13 a:hover{
    font-size: 1.5rem;
    text-decoration-line: underline;
}

#content .p14 a{
    position: absolute;
    width: 262px;
    height: 78px;
    left: 906px;
    top: 4495px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#content .p14 a:hover{
    font-size: 1.5rem;
    text-decoration-line: underline;
}

#content .p15 a{
    position: absolute;
    width: 262px;
    height: 78px;
    left: 242px;
    top: 4803px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#content .p15 a:hover{
    font-size: 1.5rem;
    text-decoration-line: underline;
}

#content .p16 a{
    position: absolute;
    width: 282px;
    height: 104px;
    left: 564px;
    top: 4803px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#content .p16 a:hover{
    font-size: 1.5rem;
    text-decoration-line: underline;
}

#content .p17 a{
    position: absolute;
    width: 270px;
    height: 104px;
    left: 902px;
    top: 4803px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

#content .p17 a:hover{
    font-size: 1.5rem;
    text-decoration-line: underline;
}

.line6{
    position: absolute;
    width: 640px;
    height: 12px;
    left: 400px;
    top: 5012px;
    background: #000000;
}

.border3{
    box-sizing: border-box;
    position: absolute;
    width: 640px;
    height: 313px;
    left: 400px;
    top: 5021px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

#content .heading-border{
    position: absolute;
    width: 444px;
    height: 28px;
    left: 498px;
    top: 5083px;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
    color: #090909;
}

#content .p18{
    position: absolute;
    width: 538px;
    height: 56px;
    left: 451px;
    top: 5129px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #090909;
}

#content form input {
    position: absolute;
    box-sizing: border-box;
    width: 413px;
    height: 54px;
    left: 460px;
    top: 5221px;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.border4{
    position: absolute;
    width: 139px;
    height: 54px;
    left: 841px;
    top: 5221px;
    background: #000000;
}

#content .p19 a{
    position: absolute;
    width: 91px;
    height: 24px;
    left: 865px;
    top: 5236px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
